<div class=".form-inline.clearfix">
  <div class="nested-fields">
    <%= f.text_field :step %><br>
    <%= link_to_remove_association "Remove", f, class: "form-button btn btn-default" %>
  </div>
</div>
